@import url("https://use.typekit.net/kuw2tbx.css");

/* Styles for all pages */

body {
	font-family: century-gothic, sans-serif;
}

.text-cyan {
	color: #35a8e0;
}

.text-erestu{
	color: #D6F5BF;
}

.hero-header {
	background-image: url(../images/header-background.jpg);
	background-size: cover;
	background-position: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
}

/* Style for the map page */

#map {
	height: 350px;
}

/* Styles for the calendar page */

.week-table td {
	width:  14.2%;
}

.week-table td:not(.inactive-day) {
	cursor:  pointer;
}

.week-table td:not(.inactive-day):hover {
	background: #e61b72;
	color: white;
}

td.selected-day {
	background: #35a8e0;
	color: white;
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

Headfont {
	font: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
}



	

/* End of own styles */


@media screen{
.h1 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic
}	
	
.h1 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 100px
}	
	
.h1 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #F2E6D0
}	
	
.h1 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 100px
}	

.h3 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic
}	
	
.h3 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 25px
}	

.h3 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #F2E6D0
}	
	
.navbar {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #BF9A78
}
	
.selctnavbar {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold
}
	
.selctnavbar {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic
}

.H2 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 40px
	}
	
.H2 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #59402a
	}

.H4 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 30px
	}
	
.H5 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 65px
	}
	
.H5 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic
	}
	
	.Text {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px
	}
.headimg {
  width: 100%;
  height: auto;
	}
	
.logo {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic
	}

.logo {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #bfa77a
	}

	.Text {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic
	}
	
	.Text {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px
	}
	
	.Text {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #bfa77a
	}
	
	.H6 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 25px
	}
	
.H6 {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #59402a
	}
.name {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color:#d9C6a3 
	}
	
.Textname {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-size: 15px
	}
	
.Textname {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	color: #bf9a78
	}
.Textname {
	font-family: 'Amiri', serif;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic
	}

}



 

.perfumelemon.html {
}
